attrs==19.3.0
click==7.1.2
Flask==1.1.1
flask_cors==3.0.10
importlib-metadata==1.6.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
more-itertools==8.3.0
packaging==20.4
pathlib2==2.3.5
pluggy==0.13.1
py==1.11.0
pyparsing==2.4.7
pytest==6.2.5
wcwidth==0.1.9
Werkzeug==1.0.1
zipp==3.1.0
diff-cover==3.0.1
pytest-cov==2.10.1
SQLAlchemy==1.4.42